@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --bg-primary: teal;
  --color-primary: #0e1a60;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h2 {
  font-size: 44px;
  margin-bottom: 15px;
}
h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
section,
.container {
  position: relative;
}
.lead {
  font-weight: 500;
}

.logos {
  display: flex;
  align-items: center; /* Center logo vertically within navbar */
}

.logos img {
  width: auto; /* Allow logo to scale based on content */
  height: 50px; /* Set a fixed height for the logo */
  margin: 0 1rem; /* Adjust margins as needed */
}

/*Header*/

header {
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 1;
}
header .navbar-expand-lg .navbar-nav .nav-link {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 24px;
}

header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #866909;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #000000;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #000000;
}

/*Hero Banner*/

.hero-banner {
  background: url("../images/20240418_080003\ \(1\).jpg") no-repeat;
  background-size: cover;
  padding: 200px 0px;
  min-height: 500px;
  position: relative;
}
.hero-banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(5, 77, 111, 0.91);
}
.banner-text-wrap h1 {
  font-size: 60px;
  font-weight: 700;
}

.btn {
  padding: 8px 24px;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 700;
}

.btn-white {
  background: #fff;
  color: var(--color-primary);
}
.banner-text-wrap {
  max-width: 600px;
}

.banner-text-wrap p {
  margin-bottom: 23px;
  margin-top: 15px;
}

/*Features Section*/
section.features-section {
  margin-top: -90px;
}
.bg1 {
  background: #10285f;
}

.bg2 {
  background: #0c2f7d;
}

.bg3 {
  background: #1148c3;
}

.features-box h3,
.features-box p {
  color: #fff;
}

.features-box {
  padding: 40px;
}

/*About Section*/

section.about-section {
  padding: 100px 0px;
}

.btn-primary {
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
}
.about-media {
  border: 10px solid var(--color-primary);
}

/*Services Section*/

.section-title {
  margin-bottom: 60px;
}

section.services-section {
  padding: 100px 0px 50px;
  background: #efefef;
}

.services-box {
  background: #fff;
  padding: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.services-box h3 {
  margin: 15px 0px 20px;
}

/*reviews Section*/

.reviews-section {
  background: url("../images/ikwezi.jpg") no-repeat;
  background-size: cover;
  object-fit: contain;
}
.review-media {
  width: 100%;
}

.review-media img {
  width: 100px !important;
  border-radius: 50% !important;
  display: inline-block !important;
}
.bg-overlay:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.reviews-section {
  padding: 100px 0px;
}

.reviews-section h2 {
  color: #fff;
  text-align: center;
}

.review-box {
  color: #fff;
  text-align: center;
  max-width: 700px;
  margin: 0px auto;
}

.review-box p {
  font-size: 18px;
  margin: 26px 0px 26px;
}

.review-box h4 {
  text-transform: uppercase;
}

.review-box h5 {
  font-weight: 500;
  font-size: 14px;
}

/*team Section*/

section.team-section {
  padding: 100px 0px;
}


.team-info {
  text-align: center;
}

.team-info h3 {
  margin-top: 26px;
  margin-bottom: 0;
}

ul.team-social li {
  display: inline-block;
}

ul.team-social li a {
  width: 35px;
  height: 35px;
  border: 1px solid var(--color-primary);
  display: inline-block;
  text-align: center;
  line-height: 35px;
  color: var(--color-primary);
}

/*Booking Section*/

.booking-section {
  background: url("../images/IMG-20240430-WA0004.jpg") no-repeat;
  background-size: cover;
  padding: 100px 0px;
}
.form-control {
  border-radius: 0;
  height: 60px;
}

.form-group {
  margin-bottom: 10px;
}

textarea {
  height: 224px !important;
}

.form-col h4 {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.form-col h3 {
  font-size: 36px;
  color: #fff;
  margin: 7px 0px 50px;
}

.form-col p {
  font-size: 36px;
  color: #fff;
  margin: 7px 0px 50px;
}

/*Blog Section*/

section.blog-section {
  padding: 100px 0px;
}

.blog-info h3 a {
  color: #000;
}

ul.meta li {
  display: inline-block;
}

.blog-info p {
  margin-top: 20px;
}

.blog-media {
  margin-bottom: 17px;
}

.blog-box {
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
}

/*Footer */

footer {
  background: var(--bg-primary);
  padding: 100px 0px;
  color: #fff;
}

ul.footer-address li i {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 22px;
}

ul.footer-address li {
  position: relative;
  padding-left: 35px;
}

ul.footer-address li a {
  color: #fff;
}

.footer-widget h3 {
  margin-bottom: 30px;
}

ul.footer-menu li a {
  color: #fff;
  font-size: 16px;
  margin-bottom: 8px;
  display: inline-block;
}

/*Responsive css*/

@media (min-width: 992px) and (max-width: 1400px) {
  header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 11px;
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .navbar-toggler-icon {
    background: #fff;
    padding: 20px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
  .reviews-section {
    padding: 40px 0px;
  }

  .section-title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .review-box p {
    font-size: 15px;
  }

  .banner-text-wrap h1 {
    font-size: 39px;
  }
  .team-box {
    margin-bottom: 40px;
  }
  .hero-banner {
    padding: 137px 0px;
    min-height: auto;
  }

  .booking-section {
    padding: 40px 0px;
  }

  footer {
    padding: 40px 10px;
  }

  section.blog-section {
    padding: 40px 0px;
  }

  section.team-section {
    padding: 30px 0px;
  }

  section.services-section {
    padding: 30px 0px;
  }

  .services-box {
    margin-bottom: 20px;
  }

  .about-media {
    margin-bottom: 30px;
  }

  .features-box {
    margin-bottom: 30px;
  }

  section.about-section {
    padding: 30px 0px 40px;
  }
}

/* banner */

.banner {
  background-color: teal; /* Teal green background */
  display: flex; /* Center content horizontally */
  justify-content: center; /* Horizontally center icons and text */
  padding: 1rem; /* Add some padding for better spacing */
}

.banner-content {
  text-align: center; /* Center text vertically */
}

.banner__icon {
  display: inline-block; /* Allow icons to stay next to text */
  margin-right: 1rem; /* Space between icon and text */
  font-size: 1.2rem; /* Adjust icon size as needed */
  color: white; /* White icons for visibility */
}

.banner__text {
  display: flex; /* Make text elements behave like a row */
  flex-wrap: wrap; /* Wrap text to next line on mobile */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Vertically center text elements */
}

.banner__text span {
  margin-right: 2rem; /* More spacing between text elements */
  color: white; /* White text */
}

/* Media query for responsive design (adjust breakpoints as needed) */
@media only screen and (max-width: 768px) {
  .banner__text span {
    margin-right: 1rem; /* Reduce spacing on smaller screens */
    font-size: 0.8rem; /* Adjust font size for smaller screens */
  }
}

/* Base styles */
.logoz {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  display: flex;
  justify-content: center; /* Center the items horizontally */
}

.logos-slide {
  white-space: nowrap;
  /* Adjust timing as needed */
}

.logos-slide img {
  height: 80px;
  margin: 0 20px; /* Adjust margin as needed */
}

/* Media queries for responsiveness (unchanged desktop styles) */

@media only screen and (max-width: 768px) {
  .logoz {
    flex-direction: column; /* Stack logos vertically on mobile */
    align-items: center; /* Center logos horizontally */
  }

  .logos-slide img {
    width: 100%; /* Ensure equal width for all logos */
    margin: 10px 0; /* Adjust spacing between logos */
  }
}

@media only screen and (max-width: 576px) {
  /* Adjust padding for smaller screens (existing code) */
  .logoz {
    padding: 40px 0;
  }

  /* Adjust image height for smaller screens (existing code) */
  .logos-slide img {
    height: 50px;
  }
}
.contact-left iframe {
  width: 450px;
  height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
}

.block {
  flex: 1; /* Blocks take up equal width */
  padding: 10px;
  margin: 5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
}

.rowzay {
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  padding: 1rem 0;
}

.rowzay .imgWrapper {
  width: 100%;
  height: auto; /* Adjust height as needed */
  overflow: hidden;
  margin: 0 auto; /* Center image on mobile */
}

.rowzay .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.rowzay .imgWrapper:hover img {
  transform: scale(1.25);
}

.rowzay .contentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.rowzay .contentWrapper span.textWrapper {
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.rowzay .contentWrapper span.textWrapper span {
  display: inline-block;
  background: #383f47;
  width: 70px;
  height: 5px;
}

.rowzay .contentWrapper h2 {
  font-size: 40px;
  font-weight: 700;
  color: #383f47;
  padding-bottom: 20px;
}

.rowzay .contentWrapper p {
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 25px;
}

@media (max-width: 991px) {
  .rowzay {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .rowzay .contentWrapper {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .rowzay {
    width: 90%;
  }

  .rowzay .contentWrapper h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .rowzay .contentWrapper p {
    line-height: 24px;
  }
}

@media (max-width: 575px) {
  .rowzay .contentWrapper {
    display: flex; /* Use flexbox for mobile */
    justify-content: center; /* Center button horizontally */
    align-items: center; /* Center button vertically (optional) */
    padding-left: 0; /* Remove left padding on mobile */
  }

  .rowzay .contentWrapper a {
    font-size: 15px;
    padding: 15px 40px;
  }
  .rowzay .contentWrapper h2 {
    font-size: 25px;
    text-align: center;
  }

  .rowzay .contentWrapper p {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
  }

  .rowzay .contentWrapper a {
    font-size: 15px;
    padding: 15px 40px;
    align-items: center;
  }
}

hr {
  margin: 60px;
}
.pdf-viewer {
  width: 100%; /* Set width to 100% for responsiveness */
  height: 690px; /* Adjust the height as needed */
  border: 1px solid #ccc;
  margin-top: 30px;
  padding: 10px;
  overflow: auto;
}

.pdf-viewer iframe {
  width: 100%; /* Inherit width from .pdf-viewer for responsiveness */
  height: 100%; /* Maintain 100% height for aspect ratio */
}
@media only screen and (max-width: 768px) {
  /* Styles for mobile devices */
  .element {
    width: 100%; /* Example: Make elements full width on mobile */
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
  .element {
    width: 70%; /* Example: Adjust element width for tablets */
  }
}

@media only screen and (min-width: 1024px) {
  /* Styles for desktops */
  .element {
    width: 80%; /* Example: Adjust element width for desktops */
  }
}

@media only screen and (max-width: 768px) {
  .pdf-viewer {
    height: 500px; /* Adjust height for mobile */
  }
}

.heading {
  /* Style your heading here (font size, weight, etc.) */
  font-family: "Great Vibes", cursive;
  position: relative;
}

.heading:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; /* Adjust height for line thickness */
  background-color: #ccc; /* Adjust color for underline */
  position: absolute;
  bottom: -5px; /* Adjust position for underline placement */
  left: 0;
}

@media only screen and (max-width: 768px) {
  .row {
    display: flex; /* Make the row a flex container */
    flex-direction: column; /* Stack elements vertically */
    gap: 29px; /* Adjust spacing between elements */
  }
}

@media only screen and (max-width: 768px) {
  .col-md-6 {
    margin-bottom: 7px; /* Adjust spacing as needed */
  }
}

.info-item .material-icons {
  color: #008080;
}

.contact-info {
  display: flex; /* Make contact-info a flex container */
  flex-direction: column; /* Stack items vertically by default */
}

.info-item {
  margin-bottom: 5px; /* Add some spacing between items */
}

.info-item.d-flex {
  /* Override default behavior for mobile responsiveness */
  flex-direction: row; /* Make items display horizontally on mobile */
  align-items: center; /* Vertically align icon and text */
}

.material-icons {
  margin-right: 5px; /* Add spacing between icon and text */
}

/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(80deg, #dbdada, #ffffffeb);
}

/**********************************************************
  Slider Container Start
**********************************************************/
.slider-container {
  max-width: 800px;
  width: 80%;
  aspect-ratio: 1000/667;
  overflow: hidden;
  box-shadow: 30px 40px 40px #00000063;
  /* border: 2rem solid rgba(255, 255, 255, 0.196); */
  transition: all 0.3s linear;
  cursor: pointer;
  position: relative;
}

.slider-container h1 {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0);
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  transition: all 0.2s linear;
  animation: scroll 8s linear infinite;
}

@media (hover: hover) {
  .slider-container:hover > h1 {
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-fill-color: rgba(255, 255, 255, 0.103);
  }
}

@keyframes scroll {
  from {
    left: 100%;
  }

  to {
    left: -150%;
  }
}

/**********************************************************
   Images Container Start
**********************************************************/
.images-container {
  width: calc(100% * var(--numberOfImgs));
  height: 100%;
  display: flex;
  animation: slide var(--animation-duration) linear infinite;
  transition: all 0.4s linear;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  15% {
    margin-left: 0;
  }

  18% {
    margin-left: -100%;
  }

  33% {
    margin-left: -100%;
  }

  36% {
    margin-left: -200%;
  }

  51% {
    margin-left: -200%;
  }

  54% {
    margin-left: -300%;
  }

  69% {
    margin-left: -300%;
  }

  72% {
    margin-left: -400%;
  }

  87% {
    margin-left: -400%;
  }

  90% {
    margin-left: -500%;
  }

  100% {
    margin-left: -500%;
  }
}

.images-container img {
  width: calc(100% / var(--numberOfImgs));
  height: 100%;
}

/**********************************************************
   Indicators Start
**********************************************************/
.indicators {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.indicator {
  width: var(--indicator-width);
  height: 1.5rem;
  border-radius: var(--indicator-radius);
  border: 2px solid var(--indicator-active-color);
  cursor: pointer;
  transition: all 0.2s linear;
  animation: active var(--animation-duration) linear infinite;
}

/**********************************************************
   Keyframes for Indicator-1
**********************************************************/
.indicator-1 {
  animation: indi1 var(--animation-duration) linear infinite;
}

@keyframes indi1 {
  0% {
    background-color: var(--indicator-active-color);
    width: var(--indicator-active-width);
    border-radius: var(--indicator-active-radius);
  }

  15% {
    background-color: var(--indicator-active-color);
    width: var(--indicator-active-width);
    border-radius: var(--indicator-active-radius);
  }

  18% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  90% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  91% {
    background-color: var(--indicator-active-color);
    width: var(--indicator-active-width);
    border-radius: var(--indicator-active-radius);
  }

  100% {
    background-color: var(--indicator-active-color);
    width: var(--indicator-active-width);
    border-radius: var(--indicator-active-radius);
  }
}

/**********************************************************
   Keyframes for Indicator-2
**********************************************************/
.indicator-2 {
  animation: indi2 var(--animation-duration) linear infinite;
}

@keyframes indi2 {
  0% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  15% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  18% {
    background-color: var(--indicator-active-color);
    width: var(--indicator-active-width);
    border-radius: var(--indicator-active-radius);
  }

  33% {
    background-color: var(--indicator-active-color);
    width: var(--indicator-active-width);
    border-radius: var(--indicator-active-radius);
  }

  36% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  100% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }
}

/**********************************************************
   Keyframes for Indicator-3
**********************************************************/
.indicator-3 {
  animation: indi3 var(--animation-duration) linear infinite;
}

@keyframes indi3 {
  0% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  33% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  36% {
    background-color: var(--indicator-active-color);
    width: var(--indicator-active-width);
    border-radius: var(--indicator-active-radius);
  }

  51% {
    background-color: var(--indicator-active-color);
    width: var(--indicator-active-width);
    border-radius: var(--indicator-active-radius);
  }

  54% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  100% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }
}

/**********************************************************
   Keyframes for Indicator-4
**********************************************************/
.indicator-4 {
  animation: indi4 var(--animation-duration) linear infinite;
}

@keyframes indi4 {
  0% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  51% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  54% {
    background-color: var(--indicator-active-color);
    width: var(--indicator-active-width);
    border-radius: var(--indicator-active-radius);
  }

  69% {
    background-color: var(--indicator-active-color);
    width: var(--indicator-active-width);
    border-radius: var(--indicator-active-radius);
  }

  72% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  100% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }
}

/**********************************************************
   Keyframes for Indicator-5
**********************************************************/
.indicator-5 {
  animation: indi5 var(--animation-duration) linear infinite;
}

@keyframes indi5 {
  0% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  69% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  72% {
    background-color: var(--indicator-active-color);
    width: var(--indicator-active-width);
    border-radius: var(--indicator-active-radius);
  }

  87% {
    background-color: var(--indicator-active-color);
    width: var(--indicator-active-width);
    border-radius: var(--indicator-active-radius);
  }

  90% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }

  100% {
    background-color: var(--indicator-color);
    width: var(--indicator-width);
    border-radius: var(--indicator-radius);
  }
}

/**********************************************************
  Reset Default Properties Start
**********************************************************/

/**********************************************************
  Reset Default Properties End
**********************************************************/

/**********************************************************
  Variables Start
**********************************************************/
:root {
  --black: #000;
  --white: #fff;

  --numberOfImgs: 6;

  --indicator-color: transparent;
  --indicator-active-color: #000;
  --indicator-width: 1.5rem;
  --indicator-active-width: 3rem;
  --indicator-radius: 50%;
  --indicator-active-radius: 8px;

  --animation-duration: 15s;
}

/*---------------------------------------
  DONATE              
-----------------------------------------*/
.donate-section {

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.donate-form {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 50px;
}

.skahftin {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}

.galleria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
}

.galleria img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.galleria video {
  width: 100%;
  max-height: 340px; /* Adjust as needed */
}

@media only screen and (max-width: 768px) {
  .galleria video {
    height: 200px; /* Adjust height for smaller screens */
  }
  .about-text {
    padding: 10% 5%; /* Adjust padding for better spacing */
  }
}

:root {
  --primary-color: #5c48ee;
  --primary-color-dark: #0f1e6a;
  --secondary-color: #f9fafe;
  --text-color: #333333;
  --white: #ffffff;
  --max-width: 1200px;
}
.containerzzz {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
}

.content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__container h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
  color: var(--primary-color-dark);
  margin-bottom: 1rem;
}

.heading__1 {
  font-weight: 700;
}

.heading__2 {
  font-weight: 700;
  color: var(--primary-color);
}

.content__container p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.content__container form {
  display: flex;
  align-items: center;
}

.content__container input {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.content__container button {
  width: fit-content;
  padding: 1rem;
  font-size: 0.8rem;
  white-space: nowrap;
  background-color: var(--primary-color);
  color: var(--white);
  outline: none;
  border: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}

.content__container button:hover {
  background-color: var(--primary-color-dark);
}

.image__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  place-content: center;
}

.image__container img {
  width: 100%;
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
}

.image__container img:nth-child(1) {
  transform: translateY(70px);
}

.image__container img:nth-child(2) {
  transform: translateY(-70px);
}

.image__content {
  position: absolute;
  width: 100%;
  max-width: 310px;
  left: 50%;
  top: 50%;
  transform: translate(-35%, 50%);
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color-dark)
  );
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 10px;
}

.image__content li {
  margin-bottom: 0.5rem;
}

/* Media query for smaller screens */
@media (max-width: 900px) {
  .containerzzz {
    grid-template-columns: 1fr;
  }

  .content__container h1 {
    font-size: 2.5rem;
  }

  .content__container p {
    font-size: 1rem;
  }

  .content__container input {
    max-width: 100%;
  }

  .image__container {
    grid-template-columns: 1fr;
    place-items: center; /* Combines place-content and align-items for centering */
    margin-bottom: 2rem;
  }

  .image__container img {
    transform: translateY(0);
  }

  .image__content {
    max-width: 100%;
    transform: translate(-50%, 50%); /* Center horizontally and vertically */
    padding: 1rem;
  }
}

@media (width < 900px) {
  .link a:not(.nav__btn) {
    display: none;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .content__container {
    text-align: center;
  }

  .content__container form {
    margin-right: auto;
    margin-left: auto;
  }

  .image__container {
    grid-area: 1/1/2/2;
  }

  .image__container img {
    transform: translateY(0) !important;
  }
}

@media (max-width: 900px) {
  .image__container {
    display: flex; /* Use flexbox for stacking */
    flex-direction: column; /* Stack images vertically */
    align-items: center; /* Center images horizontally */
    margin-bottom: 2rem;
  }

  .image__container img {
    transform: translateY(0);
    overflow: hidden;
  }
}

.footer-area {
  margin-top: 100px;
  padding: 50px;
  background-color: teal;
  /* background: -moz-linear-gradient(left, #2749c4 0%, #6085b2 100%);
  background: -webkit-linear-gradient(left, #2749c4 0%, #6085b2 ); */
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.footerz {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.single-footer {
  width: 250px;
}

.single-footer ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.copies p {
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
  color: #fff;
}

.single-footer ul li a {
  text-decoration: none;
  color: #fff;
}

.single-footer ul li a:hover {
  text-decoration: none;
  color: #e9e622;
  margin-left: 10px;
  transition: 0.4s ease-in;
}

.single-footer ul li a i {
  position: absolute;
  left: 0;
  top: 5px;
}

.single-footer p {
  color: #fff;
}

.single-footer h4 {
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-social a {
  color: #fff;
  border: 1px solid #6085b2;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .main {
    width: 320px;
  }
  .single-footer {
    width: 100%;
    margin-bottom: 30px;
  }
}

.map-container {
  max-width: 100%; /* Set a max-width for the container */
}

@media (max-width: 768px) {
  .map-container iframe {
    width: 100%; /* Set width to 100% for mobile screens */
  }
}

.logos-slide {
  display: flex; /* Make logos-slide a flexbox container */
  flex-wrap: wrap; /* Allow items to wrap on mobile */
  justify-content: space-between; /* Space logos evenly */
}

@media (max-width: 768px) {
  .logos-slide img {
    width: 30%; /* Adjust width as needed for mobile */
  }
}

/* Existing styles for btn and btn-primary (assuming Bootstrap) */

@media only screen and (max-width: 768px) {
  .center-mobile {
    display: block; /* Make each button a block element */
    margin: 10px auto; /* Center buttons horizontally with 10px margin */
    text-align: center; /* Center button text */
  }
}

.accordion {
  margin: 60px auto;
  width: 600px;
}

.accordion li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background: #e3edf7;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.accordion li label{
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

label::before{
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"]{
  display: none;
}

.accordion .corent{
  color: #555;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .corent{
  max-height: 400px;
  padding: 10px 10px 20px;
}

/* Existing styles for accordion */

@media only screen and (max-width: 768px) {
  .accordion-mobile {
    margin: 20px auto; /* Adjust margin for mobile */
    width: 90%; /* Adjust width for mobile */
  }

  .accordion-mobile li {
    margin: 10px; /* Adjust margin for mobile */
  }
}


.navbar.shadow {  /* More specific selector */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}


/* Existing styles (assuming Bootstrap) */

.contact-section {
  text-align: center; /* Center entire contact section */
}

.contact-section h2 {
  margin-bottom: 20px; /* Add space after heading */
}

.contact-info {
  display: flex; /* Make contact info items a row */
  flex-wrap: wrap; /* Wrap items on mobile screens */
  justify-content: center; /* Center items horizontally */
  margin: 0 auto; /* Center the row horizontally */
}

.info-item {
  margin: 10px; /* Add spacing between contact info items */
  text-align: left; /* Align text left within each item */
}

.blockzz {
  flex: 1; /* Blocks take up equal width */
  padding: 10px;
  margin: 5px;
  border: 1px solid #086b63;
  border-radius: 5px;
  background-color: hsl(219, 76%, 47%);
  text-align: center;
}

.my-teal-element {

  /* or */
  color: #009688;
}

.info-itemz .material-icons {
  color: #c09110;
}

.info-itemz {
  margin-bottom: 5px; /* Add some spacing between items */
}

.banner-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-container .banzer{
  background: linear-gradient(-55deg, #ff7675 29%, #d63031 29.1%, #ff7675 68.1%);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 5px 10px #0005;
  overflow: hidden;
}

.banner-container .banzer .giving{
  flex: 1 1 250px;
  padding: 15px;
  text-align: center;
}

.banner-container .banzer .giving{
  width: 80%;
}

.banner-container .banzer .conzent{
  flex: 1 1 250px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

.banner-container .banzer .conzent h3{
  color: #fff;
  font-size: 40px;
}

.banner-container .banzer .conzent p{
  color: #fff;
  font-size: 20px;
  padding: 10px 0;
}

.banner-container .banzer .disab{
  position: relative;
  bottom: -33px;
  padding: 10px;
  flex: 1 1 250px;
}

.banner-container .banzer .disab img{
  width: 100%;
}

@media  (max-width: 768px) {
  .banner-container .banzer .disab{
    display: none;
  }
}

.about-mediaz {
  border: 10px ;
  width: 300px;
  height: 390px;
}



.download-btn .material-icons {
  margin-left: 5px; /* Add a slight margin for spacing */
}